<div class="container-fluid parallax">
  <div class="row">
    <div class="col">
      <h1 class="text-center my-5 hfont">To Do List</h1>
    </div>
  </div>
  <div class="row sm">
    <div class="col text-center">
      <input [(ngModel)]="todoInput" class="pad text-center" (keyup.enter)="createTodo(chore)" placeholder="What's do today?">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col text-center">
      <p *ngFor="let chore of todos.reverse()" class="border pfont bg-light sm"> 
          <input type="checkbox" class="check">
          {{ chore }}
          <i class="far fa-edit" (click)="editTodo(chore)"></i>
          <i (click)="deleteTodo(chore)" class="fas fa-backspace delete"></i>           
        </p>
      
    </div>
  </div>

</div>